

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

.navbar {
    background-color: #333;
}


.navbar ul {
    list-style: none;
    display: flex;
    justify-content: center;
}


.navbar ul li {
    margin: 0 15px;
}


.navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 14px 20px;
    display: block;
}


.navbar ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}


main {
    background-color: white;
    padding: 20px;
    margin: 30px;
    border-radius: 8px;
}

main h1 {
    text-align: left;
    margin-bottom: 10px;
}

main p {
    line-height: 1.6;
    color: #333;
}
