body{
    background-color: black;
}
#box{
    width: 250px;
    height: 250px;
    background-color: brown;
    font-size: 13em;
    text-align: center;
    animation-name:shadow ;
    animation-duration: 5s;
}

@keyframes slideleft{
    from{transform: translateX(300%);}
}
@keyframes slideright{
    to{transform: translateX(300%);}
}
@keyframes slideup{
    from{transform: translateY(300%);}
}
@keyframes slidedown{
    from{transform: translateY(300%);}
}
@keyframes rotateX{
    100%{transform: rotateX(360deg);}
}
@keyframes grow{
   1%{transform: scale(2,2);}
}
@keyframes shrink{
   1%{transform: scale(2,2);}
}
@keyframes fade{
    50%{opacity: 0;}
}
@keyframes colourchange{
    0%{background-color: antiquewhite;}
    25%{background-color: rgb(255, 146, 3);}
    50%{background-color: rgb(255, 145, 0);}
    75%{background-color: rgb(187, 149, 99);}
    50%{background-color: rgb(255, 145, 0);}
}
@keyframes shadow{
    50%{box-shadow: rgb(228, 186, 186);}
}