body{
    margin: 0;
}

#box{
    width: 250px;
    height: 250px;
    border: 2px solid black;
    font-size: 13em;
    text-align: center;
    background-color: blue;

    transform: skewY(97deg);
}